<script>
    function clockOut() {
        const clockOutTime = document.getElementById('clock_out_time').value;

        fetch("{{ url_for('api_clock_out') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ clock_out_time: clockOutTime })
        })
        .then(response => response.json())
        .then(data => {
            if (data.error) {
                alert(data.error);
            } else {
                alert(data.message);
                reloadSummary();
            }
        })
        .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('clock_out_time').value = '{{ current_time }}';
    });
</script>
<h2>Clock Out</h2>
<form onsubmit="event.preventDefault(); clockOut();">
    Time: <input type="time" step="1" id="clock_out_time" name="clock_out_time" required><br>
    <input type="submit" value="Clock Out">
</form>