<script>
    function logHours() {
        const date = document.getElementById('date').value;
        const hoursWorked = document.getElementById('hours_worked').value;
        const comment = document.getElementById('comment').value;

        fetch("{{ url_for('api_log_hours') }}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ date: date, hours_worked: hoursWorked, comment: comment })
        })
        .then(response => response.json())
        .then(data => {
            alert(data.message);
            document.getElementById('date').value = '{{ current_date }}';
            document.getElementById('hours_worked').value = '7.6';
            document.getElementById('comment').value = '';
            reloadSummary();
        })
        .catch(error => console.error('Error:', error));
    }

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('date').value = '{{ current_date }}';
        document.getElementById('hours_worked').value = '7.6';
    });
</script>
<h2>Log Hours</h2>
<form onsubmit="event.preventDefault(); logHours();">
    Date: <input type="date" id="date" name="date" required><br>
    Hours Worked: <input type="number" step="0.1" id="hours_worked" name="hours_worked" required><br>
    <div id="comment_container">
        <label for="comment">Comment:</label><br>
        <textarea id="comment" name="comment"></textarea><br>
    </div>
    <input type="submit" value="Log Hours">
</form>
