<script>
    let expandedWeeks = {};
    let firstWeek = true;

    function compareDates(a, b) {
        return a > b ? -1 : a < b ? 1 : 0;
    }

    function compareSessions(a, b) {
        const a_date = (a.clock_in_time === null) ? a.date : a.clock_in_time;
        const b_date = (b.clock_in_time === null) ? b.date : b.clock_in_time;
        return compareDates(a_date, b_date);
    }

    function compareWeeks(a, b) {
        const a_date = new Date(a.split(' - ')[0]);
        const b_date = new Date(b.split(' - ')[0]);
        return compareDates(a_date, b_date);
    }

    function loadHours() {
        fetch("{{ url_for('api_get_hours') }}")
        .then(response => response.json())
        .then(data => {
            const hours_el = document.getElementById('hours');
            hours_el.innerHTML = "";

            const today_heading = document.createElement('h3');
            today_heading.textContent = "Hours worked today:";
            hours_el.appendChild(today_heading);

            const today_hours = document.createElement('p');
            today_hours.textContent = data.hours_today;
            hours_el.appendChild(today_hours);

            hours_el.appendChild(document.createElement('br'));

            const week_heading = document.createElement('h3');
            week_heading.textContent = "Hours worked this week:";
            hours_el.appendChild(week_heading);

            const week_hours = document.createElement('p');
            week_hours.textContent = data.hours_this_week;
            hours_el.appendChild(week_hours);

            hours_el.appendChild(document.createElement('br'));

            const deficit_heading = document.createElement('h3');
            deficit_heading.textContent = "Hours total:";
            hours_el.appendChild(deficit_heading);

            const all_time_deficit = document.createElement('p');
            if(data.all_time_deficit>0) {
                all_time_deficit.textContent = `${data.all_time_deficit.toFixed(1)} Hours short`;
            } else if(data.all_time_deficit<0) {
                all_time_deficit.textContent = `${-data.all_time_deficit.toFixed(1)} Hours over`;
            } else {
                all_time_deficit.textContent = `0 Hours over/short`;
            }
            hours_el.appendChild(all_time_deficit);
        })
        .catch(error => console.error('Error:', error));
    }

    function loadGroupedSessions() {
        fetch("{{ url_for('api_get_sessions_grouped') }}")
        .then(response => response.json())
        .then(data => {
            console.log(data)
            const tableBody = document.getElementById('groupedSessionsContainer');
            tableBody.innerHTML = "";
            const weeks = Object.keys(data).sort(compareWeeks);
            weeks.forEach(week => {
                const sessions = data[week]["sessions"];
                const totalHours = data[week]["hours_worked"];
                if (totalHours > 0) {
                    const weekRow = document.createElement('tr');
                    weekRow.className = 'week-row';

                    let weekRowHTML = `
                        <td colspan="8" onclick="toggleSessions('${week}', this)">
                            <button class="expand-button">+</button> ${data[week]["start"]} to ${data[week]["end"]} - ${totalHours.toFixed(1)} Hours`;
                    if(data[week]["hours_short"]>0) {
                        weekRowHTML += ` (${data[week]["hours_short"].toFixed(1)} Hours short)`;
                    } else if(data[week]["hours_short"]<0) {
                        weekRowHTML += ` (${-data[week]["hours_short"].toFixed(1)} Hours over)`;
                    }
                    weekRowHTML += `</td>`;

                    weekRow.innerHTML = weekRowHTML

                    tableBody.appendChild(weekRow);

                    const sessionHeader = document.createElement('tr');
                    sessionHeader.className = 'session-row session-header';
                    sessionHeader.innerHTML = `
                        <th>ID</th>
                        <th>Type</th>
                        <th>Date</th>
                        <th>Hours Worked</th>
                        <th>Clock In</th>
                        <th>Clock Out</th>
                        <th>Edit</th>
                    `;
                    sessionHeader.dataset.week = week;
                    tableBody.appendChild(sessionHeader);

                    sessions.sort(compareSessions).forEach(session => {
                        const sessionRow = document.createElement('tr');
                        sessionRow.className = 'session-row';
                        sessionRow.dataset.week = week;

                        const idCell = document.createElement('td');
                        idCell.textContent = session.id;
                        sessionRow.appendChild(idCell);

                        const typeCell = document.createElement('td');
                        typeCell.textContent = session.session_type;
                        sessionRow.appendChild(typeCell);

                        const dateCell = document.createElement('td');
                        dateCell.textContent = session.date;
                        sessionRow.appendChild(dateCell);

                        const hoursWorkedCell = document.createElement('td');
                        hoursWorkedCell.textContent = session.hours_worked;
                        sessionRow.appendChild(hoursWorkedCell);

                        const clockInCell = document.createElement('td');
                        clockInCell.textContent = session.clock_in_time;
                        sessionRow.appendChild(clockInCell);

                        const clockOutCell = document.createElement('td');
                        clockOutCell.textContent = session.clock_out_time;
                        sessionRow.appendChild(clockOutCell);

                        const editCell = document.createElement('td');
                        const editLink = document.createElement('a');
                        editLink.href = "{{ url_for('edit', id=0) }}" + session.id;
                        editLink.textContent = 'Edit';
                        editCell.appendChild(editLink);

                        const deleteButton = document.createElement('button');
                        deleteButton.textContent = 'Delete';
                        deleteButton.onclick = function() {
                            deleteSession(session.id);
                        };
                        deleteButton.className = 'delete-button';
                        editCell.appendChild(deleteButton);

                        sessionRow.appendChild(editCell);

                        tableBody.appendChild(sessionRow);
                    });

                    if (firstWeek || expandedWeeks[week]) {
                        toggleSessions(week, weekRow);
                        firstWeek = false;
                    }
                }
            });
        })
        .catch(error => console.error('Error:', error));
    }

    function toggleSessions(week, row) {
        const sessionRows = document.querySelectorAll(`.session-row[data-week="${week}"]`);
        sessionRows.forEach(row => {
            row.style.display = (row.style.display === 'none' || row.style.display === '') ? 'table-row' : 'none';
        });
        const isExpanded = sessionRows[0].style.display === 'table-row';
        expandedWeeks[week] = isExpanded;
        toggleButton(row.querySelector('.expand-button'));
    }

    function toggleButton(button) {
        button.textContent = button.textContent === '+' ? '-' : '+';
    }

    function deleteSession(id) {
        if (confirm('Are you sure you want to delete this session?')) {
            fetch("{{ url_for('api_delete_session', id=0) }}" + id, {
                method: 'DELETE'
            })
            .then(response => response.json())
            .then(data => {
                // alert(data.message);
                reloadSummary();
            })
            .catch(error => console.error('Error:', error));
        }
    }

    function reloadSummary() {
        loadGroupedSessions();
        loadHours();
    }

    document.addEventListener('DOMContentLoaded', function() {
        loadGroupedSessions();
        loadHours();
    });
</script>
<h2>Summary</h2>
<div id="hours"></div>
<button onclick="reloadSummary()" style="margin-bottom: 8px;">Refresh</button>
<table class="week-table">
    <tbody id="groupedSessionsContainer">
        <!-- Grouped sessions will be loaded here by JavaScript -->
    </tbody>
</table>
